<!-- Footer -->

<footer id="main-footer" class="py-4 bg-primary text-white text-center">
<!-- Top Bar -->
<section id="top-bar" class="p-3">
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <i class="fa fa-phone"></i> +77053957152
    </div>
    <div class="col-md-4">
      <i class="fa fa-envelope-open"></i> berikbol@gmail.com
    </div>
    <div class="col-md-4">
      <div class="social text-right">


          <span class="year"></span>  NomadNest , made with love by Berikbol
      </div>
    </div>
  </div>
</div>
</section>

</footer>